.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/public/uploads

# Fontcustom template
config/fontcustom/fontcustom_manifest.yml

# Mac
.DS_Store
