a:hover {
  text-decoration: none;
}

.dropdown-menu,
.form-control,
.btn {
  font-size: inherit;
}

.btn {
  border-radius: 3px;
}

.alert-danger ul {
  margin-bottom: 0;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  background-color: #5fbeaa !important;
  border: 1px solid #5fbeaa !important;
  color: #fff;
}

.text-default {
  color: #5fbeaa;
}

.badge-pale {
  background-color: $color-pale;
}

.alert-danger ul {
  padding-left: 1rem;
}

.field_with_errors {
  label {
    color: #f99;
  }

  .form-control {
    border: 1px solid #ebcccc;
  }
}

.jumbotron {
  background-color: #fbfbfb;
}
