<footer class="app-footer">
  <div class="container">
    <a class="text-uppercase font-bold text-pale" href="/" title="Iconly">
      <span>Icon</span><span class="text-default">ly</span>
    </a>
    &copy; 2017. All rights reserved.
  </div>
</footer>
