<!DOCTYPE html>
<html>
<head>
  <title>Iconly</title>
  <%= stylesheet_link_tag    "iconly/application", media: "all" %>
  <%= javascript_include_tag "iconly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
